/* element plus dark theme */
@import 'element-plus/theme-chalk/dark/css-vars.css';

/* tailwind */
@tailwind base;
h1 {
  @apply text-2xl;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}
@tailwind components;
@tailwind utilities;

body {
  background: #222b33;
  color: #f4ebe4;
  font-family: Roboto;
  margin: 80px 0 0 0;
}

.el-main {
  background: #262f37;
  min-height: calc(100vh - 80px);
}

.el-image__error {
  padding: calc(50% - 8px) 0;
}
.image-slot {
  padding: calc(50% - 37px) 0;
  background: #1d2329;
  color: #f4ebe4;
  font-size: 60px;
  text-align: center;
}
.wrapper {
  max-width: 1080px !important;
}
